# How many days to delay a host's payout by.
# https://stripe.com/docs/payouts#alternative-schedules
HOST_PAYOUT_DELAY_DAYS=10

# The amount (in USD) charged from customers for Locly services during order confirmation stage.
TOTAL_SERVICE_FEE_USD=20

# The % of the TOTAL_SERVICE_FEE_USD that Locly takes for itself.
# I.e. if TOTAL_SF_USD=20, and LOCLY_SF_C_P=20, then:
# - Locly gets 20 * 20% = 4 USD for itself
# - Host gets 20 * (100 - 20)% = 16 USD for themselves
LOCLY_SERVICE_FEE_CUT_PERCENT=20