# How many days to delay a host's payout by.
# https://stripe.com/docs/payouts#alternative-schedules
HOST_PAYOUT_DELAY_DAYS=10

# The Stripe ID of the "Service Fee Product" – the total service fee is added in the Dashboard as a Stripe Product
LOCLY_FEE_PRODUCT_ID=starts_with_prod

# The Stripe ID of the "Service Fee Product"'s PRICE – the total service fee is added in the Dashboard as a Stripe Price
# Use this for line_items in checkout
LOCLY_FEE_PRICE_ID=starts_with_price

# The % of the LOCLY_FEE_PRICE_ID that Locly takes for itself.
# I.e. if TOTAL_SF_USD=20, and LOCLY_SF_C_P=20, then:
# - Locly gets 20 * 20% = 4 USD for itself
# - Host gets 20 * (100 - 20)% = 16 USD for themselves
LOCLY_SERVICE_FEE_CUT_PERCENT=20

# The balance reward of the customer registering using referral code
CUSTOMER_REFEREE_REWARD_USD=5

# The balance reward of the referral
CUSTOMER_REFERRAL_REWARD_USD=5

# Referral code length
REFERRAL_CODE_LENGTH=6